{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
<div id="maintext" class="span9 offset1 whitebkg">
    <p class="lead">
    This is an online copy of the
    <a href="http://ourladyofsorrowsschool.org/">OLS School</a>, 
    Directory for the 2015-2016 school year.
    </p>
    <p><em>Updated September 3, 2015</em></p>
</div>
</div>
{% endblock %}

{% block styles %}
<style>
    #content {
        padding-top: 20px;
    }
    #maintext {
        padding: 20px;
    }
</style>
{% endblock %}

